<!DOCTYPE html>
<head>
	<meta http-equiv="content-type" content="text/html" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/escape.css" />
	<script type="text/javascript" src="js/lib/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="js/lib/underscore-min.js"></script>
	<script type="text/javascript" src="js/lib/AStar.js"></script>
	<script type="text/javascript" src="js/lib/util.js"></script>
	<script type="text/javascript" src="js/objectPrototype.js"></script>
	<script type="text/javascript" src="js/escape.js"></script>
	<script type="text/javascript" src="js/screen.js"></script>
	<script type="text/javascript" src="js/campaign.js"></script>
	<script type="text/javascript" src="js/graphics.js"></script>
	<script type="text/javascript" src="js/vector.js"></script>
	<script type="text/javascript" src="js/map.js"></script>
	<script type="text/javascript" src="js/tiles.js"></script>
	<script type="text/javascript" src="js/entities.js"></script>
	<script type="text/javascript" src="js/actorPrototype.js"></script>
	<script type="text/javascript" src="js/playerPrototype.js"></script>
	<script type="text/javascript" src="js/baddyPrototype.js"></script>
	<script type="text/javascript" src="js/projectilePrototype.js"></script>
	<script type="text/javascript" src="js/actors.js"></script>
	<script type="text/javascript" src="js/input.js"></script>
	<script type="text/javascript" src="js/timer.js"></script>
	<script type="text/javascript" src="js/weapons.js"></script>
	<script type="text/javascript" src="js/polyfills.js"></script>
	<script type="text/javascript" src="js/assetLoader.js"></script>
	<title>Escape!</title>
	<!-- templates -->
	<script type="text/template" id="campaignScreenTemplate">
		<h2 id="campaignName"><%= name %></h2>
		<p  id="campaignDescription"><%= description %></p>
		<input type="button" id="campaignStart" tabindex="1" value="Start" /input>
	</script>
	<script type="text/template" id="mapScreenTemplate">
		<h2 id="mapName"><%= name %></h1>
		<p id="mapDescription"><%= description %></p>
		<input type="button" id="playMap" tabindex="1" value="Start" /input>
	</script>
	<script type="text/template" id="campaignSuccessTemplate">
		<h1 id="campaignSuccessTitle"><%= successTitle %></h1>
		<p id="campaignSuccessMessage"><%= successMessage %></p>
	</script>
</head>
<body>
	<div id="container">
		<div id="gameContainer" class="screen">Loading...</div>
		<div id="campaignScreen" class="screen"></div>
		<div id="mapScreen" class="screen"></div>
		<div id="campaignSuccess" class="screen"></div>
	</div>
</body>