body {
	font-family: 'sans-serif';
}

.error {
	display: none;
	color: red;
}

#info {
	position: fixed;
	top: 0;
	left: 10px;
	color: white;
	pointer-events: none;
}

#container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#gameContainer {
	position: relative;
	width: auto;
	height: 100%;
	padding: 0;
	margin: 0;
	margin-right: 200px;
	overflow: auto;
}

.screen {
	display: none;
}

#gameCanvas {
	position: relative;
}

#palette {
	float: right;
	display: none;
	top: 0;
	right: 0;
	width: 200px;
	height: 100%;
	overflow: auto;
	color: black;
	background-color: #E9E9E9;
}

.tabsBar {
	margin: 0;
}

.tabButton {
	display: inline-block;
	border: 1px solid #666666;
	border-bottom: 0 none;
	border-radius: 3px 3px 0 0;
	padding: 5px;
	cursor: pointer;
	margin: 0;
	color: #666666;
	background-color: #A9A9A9;
}

.selectedTabButton {
	border-color: black;
	font-weight: bold;
	border-bottom-style: none;
	border-bottom-color: transparent;
	border-bottom-width: 0;
	background-color: gray;
	color: black;
}

.label {
	font-weight: bold;
}

[contenteditable] {
	display: inline-block;
	min-width: 50px;
}

.disabled {
	color: gray;
}

.tabs {
	background-color: gray;
	height: 100%;
}

.tab {
	display: none;
	padding: 10px;
}

.tab.selectedTab {
	display: block;
}

.tab .command {
	margin: 0;
	cursor: pointer;
}

.tab .currentTool {
	font-weight: bold;
}

.tab .tileButtons {
	list-style-type: none;
	padding: 0;
}

.tab .tileButton {
	display: inline-block;
	margin: 6px;
}

.tab .tileButton.selected {
	border-style: solid;
	border-width: 1px;
	border-color: blue;
	margin: 5px;
}
